body.login{
  background-color: #EEEEEE;
}

.login_form{
  margin: 250px auto; 
  text-align: center;
  width: 600px;
}

.login_input{
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #a0a0a0;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 3px;
  width: 440px;
}

.qianse_text{
  color: #979393;
}

.login_right_top{
  position:relative;
  top: 10px;
  left: 10px;
}
