ul {
  margin: 0px;
  padding: 0px; 
}

ul li{
  list-style-type: none;
}

.form .label{
  background-color: #E5E5E5;
  width: 100px;
  text-align: right;
}

body#main{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

body#main .reset_password{
  text-decoration: none;
}

#main #left_navigation{
  float: left;
  width: 250px;
  height: 100%;
  margin-right: 20px;
  margin-top: 20px;
}

#main #left_navigation a{
  color: black;
  text-decoration: none;
  margin-left: 30px;
}

#main #left_navigation a:hover{
  color: #DD4B4A;
}

#main #left_navigation ul li{
  list-style-type: none;
  margin-bottom: 20px;
}

#main #left_navigation .current{
  color: #DD4B4A;
}

#main #right_body{
  margin-top: 20px;
  float: left;
  width: 75%;
}

#right_body .form{
  border-bottom: 1px solid #DEDEDE;
  width: 100%;
}

#right_body #zhangmu_list table{
  width: 100%;
}

#right_body #zhangmu_list table td,th {
  border-color: #DEDEE6;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

#right_body #zhangmu_list tr:hover{
  background-color: #DEEBF7;
}

#right_body #zhangmu_list th{
  background-color: #ECF3F9;
  color: #474754;
}

#right_body #zhangmu_list tr a{
  color: #474754;
}

#right_body #zhangmu_list tr a:hover{
  color: #DD4B4A;
}

#right_body #zhangmu_list tr.paginate{
  text-align: center;
}

#right_body #zhangmu_list .option_line{
  background-color: #D1E7FC;
}

#right_body #zhangmu_list .option_line a{
  float:right;
  margin: 10px 20px 10px 0;
}

#right_body #zhangmu_list th.date{
  width: 10%; 
}

#right_body #zhangmu_list th.desc{
  width: 30%; 
}

#right_body #zhangmu_list th.account{
  width: 15%; 
}

#right_body #zhangmu_list th.cta{
  width: 25%; 
}

#right_body #zhangmu_list th.money{
  width: 20%; 
}

#right_body #zhangmu_list td{
  color: #474747;
}

#right_body #zhangmu_list tr:hover{
  background-color: #DEEBF7;
}

#right_body #zhangmu_list td.date{
  text-align: center; 
  vertical-align: middle;
}

#right_body #zhangmu_list td.desc{
  text-align: left;
  vertical-align: middle;
}

#right_body #zhangmu_list td.account{
  text-align: center;
  vertical-align: middle;
}

#right_body #zhangmu_list td.cta{
  text-align: center;
  vertical-align: middle;
}

#right_body #zhangmu_list td.money{
  text-align: center;
  vertical-align: middle;
}

.import{
  color: #DD4B4A;
}

.header .logo{
  font-size: 50px;
  font-weight: bold;
}

#main #bottom_body{
  float: left;
  width: 100%;
}

.header{
  background-color: #59595B;
  height: 60px;
  text-decoration: none;
  width: 100%;
  float: left;
}

.header ul{
  margin-top: 15px;
}

.header a{
  color: #FFFFFF;
  text-decoration: none;
}

.header a:hover{
  color: #FFCC00;
}

.header a.current{
  color: #FFCC00;
}


.header .wangzhi{
  float: left;
  vertical-align: text-bottom;
  position: relative;
  left: 20px;
  top: 40px;
}

.header ul.left{
  position: relative;
  bottom: 18px;
  margin-left: 10%;
  float: left;
  margin-right: 20%;
}

.header ul.left li{
  float: left;
  margin-right: 20px;
}

.header ul#navigation{
  float: left; 
  font-size: 20px;
  margin-right: 20px;
}

.header ul#navigation li{
  float: left; 
  margin-right: 20px;
}

.header ul#about_me{
  color: #DDD2D2;
  float: right; 
  margin-right: 20px;
  font-size: 15px;
}

.header ul#about_me li{
  float: left;
  margin-right: 20px;
}

.header ul#about_me a{
  color: #DDD2D2;
}

.header ul#about_me a:hover{
  color: #FFFFFF;
}

.header ul.right{
  float: right;
  margin-right: 20%;
}

.header ul.right li{
  background: url("../images/nav_line.gif") no-repeat scroll 0 0;
  float: left;
  font-size: 20px;
  margin-right: 20px;
}

.login_form{
  margin: 100px auto; 
  width: 40%;  
}

.error_messages ul li{
  padding-bottom:5px;
}

.error_messages ul{
  text-align: left;
}

.login_input{
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #a0a0a0;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 3px;
  width: 300px;
}

.qianse_text{
  color: #979393;
}

.un_underline_link{
  text-decoration:none;
  color: black;
}

.rp_font{
  font-size:15px;
}

#notice{
  font-size: 20px;
  position: relative;
}

.success_notice{
  color: #009AE9;
}

.error_notice{
  color: #E0734A;
}

.submit{
  background: -moz-linear-gradient(center top , #F7F7F7, #E6E6E6) repeat scroll 0 0 transparent;
  border: 0.1em solid #666666;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  cursor: pointer;
  font-size: 75%;
  font-weight: 700;
  height: 28px;
  width: 80px;
  padding: 0 0.5em;
  text-shadow: 0 0.1em 0 #FFFFFF;
}
